.office_items {
    margin-top: 45px;
    padding: 90px 0 45px;
    background: #F8F8F8;
    min-height: 760px;
    position: relative;
    overflow: hidden;
    z-index: 4;
 
    &::before {
        content: url('../images/pattern/leaf-office-left-1.png');
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    &::after {
        content: url('../images/pattern/leaf-office-right-1.png') ;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
    }
}