@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: auto;
    overflow-x: hidden; 
    font-family: 'Poppins', sans-serif;
}
html {
    height: auto;
    overflow-x: hidden; 
}




@import './universal/color';
@import './universal/button';
@import './universal/menu_overlay';
@import './universal/search_overlay';
@import './universal/card';
@import './universal/header';
@import './universal/footer';
@import './universal/title';
@import './about';




.menu_btn {
    position: absolute;
    left: 10px;
    top: 20px;
}
.search_btn {
    display: none;
    position: absolute;
    right: 20px;
    bottom: 20px;
}




@media(max-width: 1199px) {
    
  
}



@media(max-width: 975px) {
   
}


@media(max-width: 767px) {
    .about .content {
        flex-direction: column-reverse;
        .item_1 {
            margin-top: 25px;
        }
    }
   
   
}


@media(max-width: 575px) {
    .about .description {
        padding: 0 10px;
    }
    .about .content {
        .item_1 {
            h3 {
                text-align: center;
            }
        }
    }
}



