@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: auto;
    overflow-x: hidden; 
    font-family: 'Poppins', sans-serif;
}
html {
    height: auto;
    overflow-x: hidden; 
}


@import './universal/color';
@import './universal/button';
@import './universal/menu_overlay';
@import './universal/search_overlay';
@import './universal/card';
@import './universal/header';
@import './universal/footer';
@import './universal/title';

header .middle .search_input::after {
    content: url('../images/icon/search.svg');
}
header {
    &::after {
        content: url('../images/pattern/leaf-header-1.png');
        overflow: hidden;
        height: 100%;
    }
}

.product {
    .cards_list {
        a {
            margin-right: 0;;
        }
        .card {
            border:none;
            width: 100%;
        }
    }
    padding: 80px 0;
    &_title {
        font-weight: 300;
        font-size: 20px;
    }
    .product_items {
        margin-top: 50px;
        display: flex;
        .xzoom {
            box-shadow:none;
            border: 2px #F2F2F2 solid;
        }
        .xzoom-thumbs{
            text-align: left;
        }
    }
    .item_2 {
        margin-left: 50px;
    }
    &_name , &_firm , &_code ,&_price , &_counter {
        margin-top: 15px;
    }
    &_counter {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 20px;
    }
    .counter {
        width: 130px;
        display: flex;
        justify-content: space-between;
        align-items:center;
        .plus , .minus {
            cursor: pointer;
            transition: .3s all;
            &:hover {
                color:$main;
                transform: scale(1.5);
            }
        }
    }
    button.add_basket {
        margin-left: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 13px;
        width: max-content;
        padding: 5px 15px;
        background: $main;
        color: white;
        border-radius: 8px;
        border: none;
        transition: .6s all;
        cursor: pointer;
        &:hover {
            background: $green;
        }
        &::after {
            content: url('../images/general/cart.svg');
            margin-left: 10px;
        }
    }
}

.section_title {
    margin-top: 80px;
}






@media(max-width: 1199px) {
   
}



@media(max-width: 991px) {
    .product .product_items {
        flex-direction: column;
        .item_2 {
            margin-left: 0;
        }
    }
    .product .item_2 , .product .item_1 {
        text-align: center;
    }
    .product_counter {
        flex-direction: column;
        button.add_basket {
            margin-left: 0;
            margin-top: 15px;
            width: 50%;
        }
    }
   
   
}


@media(max-width: 767px) {
   
}


@media(max-width: 575px) {
    
}



